number:-it is a datatype which stores numeric value.
strings:-it is a derived data type which has a sequence of characters
list:-list is a collection of elements separated by commas and enclosed in braces
tuple:-tuple is a collection of elements which is ordered and unchangeable
dictionary:- it is a collection of key value pairs

In [6]:
(150-50)+(2**2+(2/2)-5+(1/4))

100.25

In [3]:
4*(6+5)

44

In [4]:
4*6+5

29

In [5]:
4+6*5

34

In [7]:
check_mytype = 3 + 1.5 + 4

8.5

In [18]:
type(check_mytype)

NameError: name 'check_mytype' is not defined

In [19]:
check_type = 3 + 1.5 + 4

In [14]:
type(check_type)

float

In [21]:
10000**0.5

100.0

In [22]:
34**2

1156

In [23]:
s='hello'

In [24]:
s[1]

'e'

In [26]:
s[::-1]

'olleh'

In [27]:
s[4]

'o'

In [28]:
s[-1]

'o'

In [31]:
list=[0,0,0]

In [30]:
[0]*3

[0, 0, 0]

In [32]:
list

[0, 0, 0]

In [33]:
list3 = [1,2,[3,4,'hello']]

In [34]:
list3[2][2]='goodbye'

In [35]:
list3

[1, 2, [3, 4, 'goodbye']]

In [36]:
list3[2][1]='hey'

In [37]:
list3

[1, 2, [3, 'hey', 'goodbye']]

In [38]:
list4 = [5,3,4,6,1]

In [40]:
list4.sort()

In [41]:
list4

[1, 3, 4, 5, 6]

In [42]:
d = {'simple_key':'hello'}

In [43]:
d['simple_key']

'hello'

In [44]:
d = {'k1':{'k2':'hello'}}

d['k1']['k2']

'hello'

In [45]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [46]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [47]:
2>4

False

In [48]:
3 <= 2

False

In [49]:
3 == 2.0

False

In [50]:
3.0 == 3

True

In [51]:
4**0.5 != 2

False

In [52]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

l_one[2][0] >= l_two[2]['k1']

False